os:
  - linux
  - osx
  - windows

language: c

env:
  - BRANCH=1.0.4

cache:
  directories:
    - "$HOME/.choosenim"
    - "$TRAVIS_BUILD_DIR/git"

install:
  # Use common Travis script maintained as a gist
  # https://gist.github.com/genotrance/fb53504a4fba88bc5201d3783df5c522
  - curl https://gist.github.com/genotrance/fb53504a4fba88bc5201d3783df5c522/raw/3122ece117489afcc9008b63d6278d97074b8f2c/travis.sh -LsSf -o travis.sh
  - source travis.sh

script:
  - nimble install -y -d
  - nim c src/choosenim
  - nimble test
  - yes | choosenim stable # Workaround tester overwriting our Nimble install.
  - nimble build -d:release
  - if [[ "$TRAVIS_OS_NAME" != "windows" ]]; then mv bin/choosenim bin/choosenim-$TRAVIS_OS_NAME; fi

notifications:
  irc: "chat.freenode.net#nimbuild"

deploy:
  provider: releases
  api_key:
    secure: "h7HQnn/pVHyR119IViY811WeX4lMl+hLpmMMND09r3LVOaH9MpMSkwQXa4aYF+/YV3vHaQINOExqTOXpzc/nP5O5VJMzfaEdA+o6HtkVgY1qsWllquUt0xnrvcFCLHcNQc/fwoS6Cow4yINsRTyGgo7p4zLnk5+yGSQTJiLTiMWHQiiRyCdrywBHFzcXG63MqRD7JJveA0OE/JoRNBNESGP6JTK6V7W2eanmlAjbjH8+dUJsxDr5LjoeRUUF+A+4AfulAOCsbPtURW3CIBD1jqYrFXzBYRgxbHaHwY5XxfPjHnWPHONYIruXx9oYyjL8uyrHzYSNCEnoQtBY0gzYOBFfUCNB3bcNDrSkzTXnRlnMcWcC6XyrTxUI7Lc+bZB5OFGoqYJzZK54qd5wmIDqZ+Wa2n1vq/hNfZ+95fYhG7oXgW/zeLWFdr8i46dRoBDfcD2e+OhJLk73FoGVwySffR2p5hCGWLdXFyMKiph1RC8JPiwMr4l6n9LmO1fbOwAjwTEXzj645mC1ExmsiTckGlOQC8UuvnxWg9xNggO40PCTuO64hF4YucDi6SzYttNn5VNli2XoWz9SkgQiKAxf4u2VN+S2Vt0Mtue8Z6CTb2GjEO+QrmVrW3oQmiCFM0LkiAo+0zoo8JK7PuT5EoAabfc0aZt/Ds8cLhPpoHQFxMY="
  file_glob: true
  file: bin/*
  skip_cleanup: true
  on:
    repo: dom96/choosenim
    tags: true
